.idea/
.vscode/
node_modules/
build/
tmp/
temp/
dist/

config/
mariadb/initdb.d/create-user.sql
mariadb/backup
mariadb/*.sh
schedule.sh

.DS_Store

# Ignore log files
logs

# Ignore env
.env
.env.dev
.env.prod

